In [5]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [7]:
d = DataFrame(data=np.random.randint(60,100,size=(3,3)),index=['a','b','c'],columns=['A','B','C'])

In [56]:
d.iloc[:]

    A   B   C
a  69  69  62
b  94  72  96
c  68  75  90

In [57]:
d.iloc[0,:]

A    69
B    69
C    62
Name: a, dtype: int64

In [60]:
d.idxmax()

A    b
B    c
C    b
dtype: object

In [61]:
d.idxmin()

A    c
B    a
C    a
dtype: object

In [19]:
data = pd.read_csv("./wcdata.csv")

In [22]:
x = data.iloc[:,2:]

In [24]:
y = data.iloc[:,1]

In [27]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: is_bad, dtype: int64

In [28]:
x.head()

,w_d_7_cnt,w_mean,w_cpc_mthly_call_02_cnt,w_app_cnt_m1,w_d_60_cnt,w_d_30_cnt,w_rpt_org_m3,w_most_familiar_applied,w_recharge_amt_m6,w_cpa_rt_days,w_be_not_familiar,w_app_time_minus_update_time,w_cpb_mth_avg_pay,w_cpc_cnt_week_cv,w_pct_cnt_to_black,w_cnt_applied_over_cnt_all,w_cpc_hldy_len
0,0.09894,0.153095,-0.156092,-0.248885,-0.035605,0.082507,-0.081371,0.061115,0.113576,-0.019167,0.070293,-0.133868,0.017751,0.219471,0.050594,0.108873,-0.110621
1,0.09894,-0.071757,-0.156092,-0.114577,-0.035605,0.082507,-0.081371,0.061115,-0.284809,-0.019167,-0.186296,-0.133868,-0.217614,-0.488645,0.050594,-0.146481,-0.110621
2,0.09894,-0.071757,0.133516,0.301452,0.176315,0.172905,0.162956,0.061115,0.205499,-0.019167,0.070293,0.256831,0.017751,0.219471,0.050594,0.214858,0.169379
3,0.09894,-0.071757,-0.156092,0.033449,0.046013,0.172905,-0.081371,0.061115,-0.284809,-0.019167,0.070293,0.132377,0.017751,-0.190037,0.050594,0.108873,0.169379
4,0.09894,-0.071757,0.133516,0.301452,0.046013,0.172905,0.162956,0.061115,0.205499,-0.019167,-0.139472,0.256831,-0.217614,0.008389,0.050594,-0.146481,0.169379

In [31]:
x.columns.to_list()

['w_d_7_cnt',
 'w_mean',
 'w_cpc_mthly_call_02_cnt',
 'w_app_cnt_m1',
 'w_d_60_cnt',
 'w_d_30_cnt',
 'w_rpt_org_m3',
 'w_most_familiar_applied',
 'w_recharge_amt_m6',
 'w_cpa_rt_days',
 'w_be_not_familiar',
 'w_app_time_minus_update_time',
 'w_cpb_mth_avg_pay',
 'w_cpc_cnt_week_cv',
 'w_pct_cnt_to_black',
 'w_cnt_applied_over_cnt_all',
 'w_cpc_hldy_len']

In [52]:
pd.Series(index=x.columns.to_list()).idxmin()

/Users/tian/.pyenv/versions/3.7.5/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

nan

In [33]:
x

,w_d_7_cnt,w_mean,w_cpc_mthly_call_02_cnt,w_app_cnt_m1,w_d_60_cnt,w_d_30_cnt,w_rpt_org_m3,w_most_familiar_applied,w_recharge_amt_m6,w_cpa_rt_days,w_be_not_familiar,w_app_time_minus_update_time,w_cpb_mth_avg_pay,w_cpc_cnt_week_cv,w_pct_cnt_to_black,w_cnt_applied_over_cnt_all,w_cpc_hldy_len
0,0.098940,0.153095,-0.156092,-0.248885,-0.035605,0.082507,-0.081371,0.061115,0.113576,-0.019167,0.070293,-0.133868,0.017751,0.219471,0.050594,0.108873,-0.110621
1,0.098940,-0.071757,-0.156092,-0.114577,-0.035605,0.082507,-0.081371,0.061115,-0.284809,-0.019167,-0.186296,-0.133868,-0.217614,-0.488645,0.050594,-0.146481,-0.110621
2,0.098940,-0.071757,0.133516,0.301452,0.176315,0.172905,0.162956,0.061115,0.205499,-0.019167,0.070293,0.256831,0.017751,0.219471,0.050594,0.214858,0.169379
3,0.098940,-0.071757,-0.156092,0.033449,0.046013,0.172905,-0.081371,0.061115,-0.284809,-0.019167,0.070293,0.132377,0.017751,-0.190037,0.050594,0.108873,0.169379
4,0.098940,-0.071757,0.133516,0.301452,0.046013,0.172905,0.162956,0.061115,0.205499,-0.019167,-0.139472,0.256831,-0.217614,0.008389,0.050594,-0.146481,0.169379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.098940,-0.071757,0.133516,0.033449,-0.035605,0.082507,-0.081371,0.061115,0.205499,-0.019167,0.290524,-0.133868,0.017751,0.219471,-0.050609,0.108873,-0.110621
19996,-0.086195,-0.071757,0.133516,-0.248885,-0.035605,-0.218045,-0.081371,0.061115,0.205499,-0.019167,0.290524,-0.289688,0.017751,0.219471,-0.050609,-0.146481,0.169379
19997,-0.086195,-0.071757,-0.156092,-0.738327,-0.035605,-0.218045,-0.574939,-0.103970,0.205499,0.168365,0.070293,-0.289688,0.017751,0.219471,-0.050609,-0.146481,0.169379
19998,-0.086195,-0.118431,0.277022,0.033449,-0.035605,0.082507,0.162956,0.061115,0.205499,0.003990,-0.186296,0.277022,0.277022,0.277022,-0.390181,-0.146481,0.277022
19999,0.098940,-0.071757,0.444288,0.033449,-0.035605,-0.061875,0.162956,0.061115,0.113576,0.168365,0.290524,-0.133868,0.017751,0.219471,-0.050609,-0.146481,-0.110621

In [34]:
x['w_d_7_cnt']

0        0.098940
1        0.098940
2        0.098940
3        0.098940
4        0.098940
           ...
19995    0.098940
19996   -0.086195
19997   -0.086195
19998   -0.086195
19999    0.098940
Name: w_d_7_cnt, Length: 20000, dtype: float64

In [37]:
np.array(y).reshape(-1,1)

array([[0],
       [1],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [48]:
p = np.append([1,2,3],[3,4])

In [49]:
p

array([1, 2, 3, 3, 4])

In [55]:
x.idxmin()

w_d_7_cnt                        17
w_mean                          127
w_cpc_mthly_call_02_cnt           0
w_app_cnt_m1                     17
w_d_60_cnt                        0
w_d_30_cnt                       17
w_rpt_org_m3                     17
w_most_familiar_applied         116
w_recharge_amt_m6                 1
w_cpa_rt_days                    12
w_be_not_familiar               127
w_app_time_minus_update_time      9
w_cpb_mth_avg_pay                 1
w_cpc_cnt_week_cv                 1
w_pct_cnt_to_black               10
w_cnt_applied_over_cnt_all      127
w_cpc_hldy_len                    0
dtype: int64

In [66]:
d.shift(1)

      A     B     C
a   NaN   NaN   NaN
b  69.0  69.0  62.0
c  94.0  72.0  96.0

In [67]:
-np.log(0.5)

0.6931471805599453